.nav {
  height: 100%;
  position: fixed;
  left: 0;
}

.burger {
  color: #e0dcd9;
  font-size: 35px;
  cursor: pointer;
  position: fixed;
  right: 0;
  display: none;
  color: black;
}

.arrow {
  color: black;
  font-size: 25px;
  background-color: #ffccff0d;
  align-self: flex-end;
  margin: 10px;
  cursor: pointer;
}

.nav li {
  color: black;
  font-size: 16px;
  padding: 5px 20px 25px;
  margin-top: 10px;
}
.nav a {
  text-decoration: none;
}

.nav ul {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #ffccff9f;
  border-radius: 7px;
  list-style-type: none;
}

@media (max-width: 1024px) {
  .nav ul {
    position: fixed;
    top: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    top: 20px;
    z-index: 1000;
  }
  .burger {
    color: #ffccff;
    position: fixed;
    top: 2rem;
    padding: 0px 5px;
    font-size: 30px;
    display: block;
    z-index: 1000;
  }
}

@media (max-width: 1020px) {
  .nav ul {
    width: 100%;
    z-index: 1000;
    margin: 0;
    padding: 0;
    align-items: center;
  }
}
@media (max-width: 540px) {
  .nav ul {
    width: 100%;
    z-index: 1000;
    margin: 0;
    padding: 0;
    align-items: center;
  }
}
@media (max-width: 379px) {
  .nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
  }
}
