.bannerWrapper {
  /* background: url(/public/images/singer.jpg) center center/cover; */
  height: 100vh;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapperAlbum {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffccff;
  background: black;
}
.album {
  background: url(/public/images/ploca.webp) center center/cover;
  height: 80vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.album h2 {
  font-family: "Caveat", cursive;
  font-size: 40px;
  color: white;
}
.buttonAlbum {
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #6a307b 51%,
    #000000 100%
  );
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 7px;
  font-size: 14px;
  display: block;
}
.buttonAlbum:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.parallax {
  width: 100%;
  /* background-color: #ffccff; */
}
.tour {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tour h2 {
  font-family: "Caveat", cursive;
  font-size: 40px;
}
.tour ul {
  list-style-type: none;
}
.wrapperAlbum {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.videoWrapper {
  width: 100%;
  height: 100vh;
  background-color: #3eecac;
  background-image: linear-gradient(0deg, #3ea9ec 0%, #ffccff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
}

@media (max-width: 1200px) {
  .album {
    background: url(/public/images/ploca.webp) no-repeat center/cover;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .bannerWrapper {
    background: url(/public/images/singer.webp) center center/cover;
    height: 100vh;
    width: 100%;
  }
  .album h2 {
    font-family: "Caveat", cursive;
    font-size: 35px;
    color: white;
  }
  .album {
    background: url(/public/images/ploca.webp) no-repeat center center/contain;
    width: 100%;
  }

  .buttonAlbum {
    font-size: 14px;
  }
  .videoWrapper {
    font-size: 18px;
  }
  .videoWrapper {
    font-size: 16px;
  }
}
@media (max-width: 570px) {
  .wrapperAlbum {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .album h2 {
    font-size: 30px;
  }
  .album {
    background: url(/public/images/ploca.webp) no-repeat center center/cover;
    width: 100%;
    height: 50%;
  }
}
