body {
  background-color: black;
}
.parallax {
  width: 100%;
}
.container {
  /* background: url("../../public/images/neon.jpg") center center/cover; */

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapperMerch {
  height: 100%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box {
  background-color: rgb(255, 207, 15);
  color: black;
  background-color: #004eb39f;
  color: white;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2%;
}

.photo {
  width: 300px;
  height: 300px;
}
body {
  background-color: black;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapperMerch {
  height: 100%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2%;
  border-radius: 3px;
}

.photo {
  width: 300px;
  height: 300px;
}
@media (max-width: 1500px) {
  .container {
    height: 1100px;
  }
}
@media (max-width: 670px) {
  .photo {
    width: 250px;
    height: 250px;
  }
  .wrapperMerch {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
  }
  .box {
    height: 350px;
  }
  .container {
    height: 2000px;
  }
}

@media (max-width: 550px) {
  .container {
    height: 2500px;

    background: url("../../public/images/neon.jpg") center center/cover;
  }
  .box {
    height: 350px;
    color: white;
  }
}
