.container {
  background: url("../../public/images/bubanj\ crveno.jpg") center center/cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapperMerch {
  height: 500px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.box {
  background-color: rgb(255, 207, 15);
  width: 300px;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color: black;
}
.photo {
  background: url("../../public/images/ploce.jpg") center center/cover;
  width: 250px;
  height: 250px;
}

@media (max-width: 1200px) {
  .wrapperMerch {
    height: 500px;
    height: 100vh;
    /* background-color: rgba(255, 255, 255, 0.321); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .box {
    background-color: rgb(255, 207, 15);
    width: 300px;
    height: 40%;
    padding: 20px;
  }
}
@media (max-width: 690px) {
  .wrapperMerch {
    height: 500px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
  .box {
    width: 40%;
    height: 35%;
  }
  .photo {
    background: url("../../public/images/ploce.jpg") center center/cover;
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 500px) {
  .wrapperMerch {
    align-items: flex-start;
    gap: 0px;
  }
  .box {
    width: 40%;
    height: 35%;
    justify-content: flex-start;
  }
  .photo {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 450px) {
  .wrapperMerch {
    align-items: flex-start;
    gap: 5px;
    justify-content: space-evenly;
  }
  .box {
    width: 40%;
    height: 30%;
    justify-content: flex-start;
    padding: 10px;
  }
  .photo {
    width: 150px;
    height: 150px;
  }
}
