.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.wrapper button {
  background-image: linear-gradient(
    to right,
    #6a71ce 0%,
    #3a4088 61%,
    #9780b8 100%
  );
  margin: 10px;
  padding: 10px 18px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.9s;
  background-size: 200% auto;
  color: white;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 3px;
  display: block;
  border: none;
}

.wrapper button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1150px) {
  .wrapper {
    width: 50%;
  }
}
@media (max-width: 750px) {
  .wrapper {
    width: 70%;
  }
}
@media (max-width: 470px) {
  .wrapper {
    width: 90%;
    font-size: 15px;
  }
}
@media (max-width: 340px) {
  .wrapper h3,
  p {
    font-size: 14px;
  }
  .wrapper button {
    padding: 10px;
  }
  wrapper {
    padding: 0px;
  }
}
