.videoResponsive {
  width: 50%;
  height: 50%;
  border: 2px solid black;
  padding: 5px;
}

.videoResponsive iframe {
  height: 100%;
  width: 100%;
}

@media (max-width: 700px) {
  .videoResponsive {
    width: 70%;
    height: 40%;
    border: 2px solid black;
    padding: 5px;
  }
}
@media (max-width: 460px) {
  .videoResponsive {
    width: 80%;
    height: 40%;
    border: 2px solid black;
    padding: 5px;
  }
}
